<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="test.js"></script>
<script src="moment.js"></script>
<script src="list-scroll.js"></script>
<script src="Chart.min.js"></script>
<script src="vue-chartjs.min.js"></script>
<link rel="stylesheet" type="text/css" href="test.css" media="screen" />

<div id="XsollaProject" >
<table class="center">
  <thead>
    <tr>
      <th>Project name</th>
      <th>Payment method</th>
      <th>Date</th>
      <th>E-mail</th>
      <th>Amount</th>
      <th>Purchase</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="row in pagedRows">
      <td>{{row.transaction.project.name}}</td>
      <td>{{row.transaction.payment_method.name}}</td>
      <td>{{String(row.transaction.transfer_date) | dateFilter}}</td>
      <td v-if="row.user.email">{{row.user.email}}</td>
      <td v-else>Not available</td>
      <td>{{row.payment_details.payment.amount}} {{row.payment_details.payment.currency}}</td>
      <td v-if="row.purchase.virtual_items">{{row.purchase.virtual_items}}</td>
      <td v-else-if="row.purchase.virtual_currency.amount != 0">{{row.purchase.virtual_currency.amount}} {{row.purchase.virtual_currency.name}}</td>
      <td v-else>Canceled</td>
    </tr>
  </tbody>  

  <div id="topBar">
    <div class="search-wrapper">
        <label>Search:</label>
        <input style="border-radius: 4px; border: 0px; font-family: Open Sans; width: 180px;" type="text" v-model="search" placeholder="  Name, method or E-mail..."/>            
    </div>

    <div class="prevPage" v-on:click="prevPage">Previous </div> 
    <div class="nextPage" v-on:click="nextPage">Next </div>
  </div>
</table>

<div class="Row">
    <div class="Column">
        <p class="headerSmall">All projects:</p>
        <virtual-list :size="28" :remain="8" wtag="ul">  
          <li class="item" v-for="item in projectList">{{ item }}</li>
        </virtual-list>
    </div>
    <div class="Column">
      <p class="headerSmall">Payments (out of {{paymentsCount}}):</p>
        <virtual-list :size="28" :remain="8" wtag="ul">  
          <li class="item" v-for="item in paymentsList">{{ formatNumber(item.count) }}{{ item.name }}</li>
        </virtual-list>
    </div>
    <div class="Column">
      <p class="headerSmall">Ratings (in %):</p>
      <line-chart style="width: 234; height: 234; display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;"></line-chart>
    </div>    

</div>

</div>